/* GLOBALS */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/* Demo 5 */

.form-recovery {
    /* Size and position */
    width: 450px;
    margin: 60px auto 30px;
    position: relative;

    /* Styles */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1), 0 3px 2px rgba(0,0,0,0.1);
}

.form-recovery p {
    width: 100%;
    float: left;
    border-radius: 5px 0 0 5px;
    border: 1px solid #fff;
    border-right: none;
}

.form-recovery input[type=email] {
    /* Size and position */
    width: 100%;
    height: 50px;
    padding: 0 10px;

    /* Styles */
    border: none; /* Remove the default border */
    background: white; /* Fallback */
    background: rgba(255,255,255,0.2);
    box-shadow: 
        inset 0 0 10px rgba(255,255,255,0.5);

    /* Font styles */
    font-family: 'Montserrat', sans-serif;
    text-indent: 10px;
    color: #e4812a;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
    font-size: 20px;       
}

.form-recovery input[type=email] {
    border-bottom: 1px solid #fff; /* Fallback */
    border-bottom: 1px solid rgba(255,255,255,0.7);
    border-radius: 5px 0 0 0;
}

.form-recovery input[type=email]:hover,
.form-recovery input[type=email]:focus {
    background: #f7def7; /* Fallback */
    background: rgba(255,255,255,0.4);
    outline: none;
}

/* Placeholder style (from http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css) */

.form-recovery input::-webkit-input-placeholder {
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
    font-family: 'Handlee', cursive;
}

.form-recovery input:-moz-placeholder {
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
    font-family: 'Handlee', cursive;
}

.form-recovery input:-ms-input-placeholder {
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
    font-family: 'Handlee', cursive;
}

.form-recovery button {
    /* Size and position */
    width: 50%;
    height: 50px;
    float: left;
    position: relative;
    overflow: hidden;

    /* Styles */
    background: #e4812a;
    background: url(../img/noise.png), -moz-radial-gradient(center, ellipse cover, #e4812a 0%, #cc782e 100%);
    background: url(../img/noise.png), -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#e4812a), color-stop(100%,#cc782e));
    background: url(../img/noise.png), -webkit-radial-gradient(center, ellipse cover, #e4812a 0%,#cc782e 100%);
    background: url(../img/noise.png), -o-radial-gradient(center, ellipse cover, #e4812a 0%,#cc782e 100%);
    background: url(../img/noise.png), -ms-radial-gradient(center, ellipse cover, #e4812a 0%,#cc782e 100%);
    background: url(../img/noise.png), radial-gradient(ellipse at center, #e4812a 0%,#cc782e 100%);

    border-radius: 0 5px 5px 0;
    box-shadow:
        inset 0 0 4px rgba(255, 255, 255, 0.7), 
        inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    border: none;
    border-left: 1px solid silver;
    cursor: pointer;  
    line-height: 55px; /* Same as height */
}

.form-recovery button i {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -20px;
    font-size: 40px;
    line-height: 55px;
    color: #964b09;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.form-recovery button span {
    display: block;

    /* Font styles */ 
    color: #964b09;
    font-family: 'Montserrat', Arial, sans-serif; 
    font-size: 18px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);

    -webkit-transform: rotate(-0deg);
    -moz-transform: rotate(-0deg);
    -ms-transform: rotate(-0deg);
    -o-transform: rotate(-0deg);
    transform: rotate(-0deg);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-backface-visibility: hidden;
}

/* Focus and hover on button */

.form-recovery button:focus {
    outline: none;
}

.form-recovery button:hover span,
.form-recovery button:focus span {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: rotate(-90deg) translateY(-20px);
    -moz-transform: rotate(-90deg) translateY(-20px);
    -ms-transform: rotate(-90deg) translateY(-20px);
    -o-transform: rotate(-90deg) translateY(-20px);
    transform: rotate(-90deg) translateY(-20px);
}

.form-recovery button:hover i,
.form-recovery button:focus i {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    left: 0;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

/* Click on button */

.form-recovery button:active span,
.form-recovery button:active i {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none; 
}

.form-recovery button:active span {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.form-recovery button:active i {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    left: 0;
    color: #fff;
}