html { height: 100%; }

body {
    height: 100%;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    
    background: #ddd url(../img/bg2_cadastro.jpg) repeat bottom left;    
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
    
    font-weight: 300;
    font-size: 15px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
    overflow-x: hidden;
}