@import templates/beforeTemplate
@import templates/before-footer
@import organisms/before-navbar
@import organisms/form-register
@import organisms/register-elementsForm
@import organisms/containersResume
@import molecules/button-register

.geral
    min-height: 100%;
    position: relative

.conteudo
   padding: 10px
   padding-bottom: 60px

.inner-bg
    padding: 20px 0 200px 0 !important

/***** Media queries *****/
@media (max-width: 767px)
    .inner-bg
        padding: 20px 0 60px 0 !important