@import molecules/icone-fa-card
@import molecules/table-general
@import organisms/update-menu
@import organisms/update-card

main
	.update-menu
		padding-top: 100px
		+gradient(90deg, $mojito2, $mojito1)
	.update-access
		+gradient(90deg, $mojito2, $mojito1)
		padding-bottom: 100px
	.update-social
		background-color: #f29107;
		padding-bottom: 100px
	.update-skill
		+gradient(90deg, $Aqualicious1, $Aqualicious2)
		padding-bottom: 100px	
	.update-historic
		+gradient(90deg, $light-grey1, $light-grey2)		
		padding-bottom: 100px
	.update-dataInfo
		background-color: #e1e1df	
		padding-bottom: 100px	