.skill-bar ul
  list-style: none
  padding: 0
  li
    height: 40px
    line-height: 40px
    width: 100%
    background-color: #333
    position: relative
    margin-bottom: 30px
    span
      position: absolute
      top: 0
      right: 20px
      color: #fff
    .bar
      height: 100%
      background-color: $elementos
      padding-left: 20px
    h5
      margin: 0
      color: #fff
      line-height: 40px
      position: absolute

  +breakpoint($medium $widescreen)
    li
      margin-bottom: 20px
      font-size: 14px
      span
        right: 15px
      h5
        font-size: 14px
  +breakpoint($default $tablet)
    +align-items(center)
    +justify-content(space-around)
    text-align: center
    li
      margin-top: 25px
      margin-bottom: 0px
  +breakpoint($small)
    li
      width: 70%
      margin-top: 25px
      margin-bottom: 0px
  +breakpoint($extra-small)

